Repository coveooss/blitz2021: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, docker, upload_starterkits

.gitlab-ci.yml:

stages:
  - build
  - dockerise
  - release

cache:
  paths:
    - node_modules/

build:
  image: node:14
  stage: build
  script:
    - yarn install
    - yarn build
    - yarn test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
      - game/dist
      - ui/dist
  only:
    changes:
      - game/**/*
      - ui/**/*
      - gitlab-ci.yml

docker:
  stage: dockerise
  image: docker
  services:
    - docker:dind
  before_script:
    - apk add --no-cache curl jq python3 py3-pip
    - pip install awscli
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - $(aws ecr get-login --no-include-email --region us-east-1)
  script:
    - docker build -t blitz2021/local -f local.Dockerfile .
    - docker tag blitz2021/local:latest $CI_REGISTRY/$CI_PROJECT_PATH/play:latest
    - docker tag blitz2021/local:latest $CI_REGISTRY/$CI_PROJECT_PATH/play:$CI_PIPELINE_ID
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/play:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/play:$CI_PIPELINE_ID
    - docker build -t blitz2021/server -f server.Dockerfile .
    - docker tag blitz2021/server 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:latest
    - docker tag blitz2021/server 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:$CI_PIPELINE_ID
    - docker push 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:latest
    - docker push 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:$CI_PIPELINE_ID
    - docker tag blitz2021/local 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:local
    - docker push 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:local
  only:
    changes:
      - game/**/*
      - ui/**/*
      - gitlab-ci.yml
    refs:
      - master

upload_starterkits:
  image: python:latest
  stage: release
  before_script:
    - pip install awscli
  script:
    - python -m zipfile -c starterpacks.zip starterpacks/
    - aws s3 cp starterpacks.zip s3://blitz-2020/
    - aws s3api put-object-acl --bucket blitz-2021 --key starterpacks.zip --acl public-read
  only:
    changes:
      - starterkits/**/*
      - gitlab-ci.yml
    refs:
      - master

New maps
  game/maps/2P-03.bmp
  game/maps/2P-06.bmp
  game/maps/2P-11.bmp
  game/maps/2P-12.bmp
  game/maps/2P-13.bmp
  game/maps/2P-14.bmp
  game/maps/2P-15.bmp
  game/maps/4P-07.bmp
  game/maps/4P-11.bmp
  game/maps/4P-12.bmp
  game/maps/4P-13.bmp
  game/maps/4P-14.bmp
  game/maps/4P-15.bmp
  game/maps/4P-16.bmp
Due: build, docker

Added key cap
  game/src/game/colonies/colony.ts
  ui/src/app/viewer.tsx
Due: build, docker

Remove ugly title
  ui/src/infos/scores.tsx
Due: build, docker

v2021.0.14
  ui/package.json
Due: build, docker

Fix random in python
  starterkits/python/bot.py
Due: upload_starterkits

Fix maps
  game/maps/2P-03.bmp
  game/maps/2P-04.bmp
  game/maps/2P-05.bmp
  game/maps/2P-10.bmp
  game/maps/2P-13.bmp
  game/maps/4P-04.bmp
  game/maps/4P-07.bmp
  game/maps/4P-08.bmp
Due: build, docker

Show real tick in replay instead of step
  starterkits/python/application.py
  ui/src/constants.ts
  ui/src/infos/gameState.tsx
Due: build, docker, upload_starterkits

v2021.0.15
  ui/package.json
Due: build, docker

Replay faster initial speed
  ui/src/replay/replayViewer.tsx
Due: build, docker

delete files
  game/test.json
  starterkits/javascript/MyBot.zip
  starterkits/typescript/yarn.lock
Due: build, docker, upload_starterkits

Rename map and added default
  game/maps/1P-01.bmp
  game/src/index.ts
Due: build, docker

Fix name
  starterkits/csharp/game/Crew.cs
  starterkits/java/src/main/java/codes/blitz/game/message/game/Crew.java
Due: upload_starterkits

v2021.0.16
  ui/package.json
Due: build, docker

Crewies
  game/src/game/game.ts
Due: build, docker

Fix
  starterkits/csharp/game/GameMessage.cs
Due: upload_starterkits

One more map + more mines in logo
  game/maps/2P-16.bmp
  game/maps/4P-16.bmp
Due: build, docker

Logs and better dockerfile
  game/src/recorder/recorder.ts
  local.Dockerfile
  server.Dockerfile
Due: build, docker

Fix game size on local setup
  ui/src/app/viewer.tsx
Due: build, docker

Shuffle
  game/src/game/config.ts
  game/src/game/game.ts
  game/src/utils.ts
  game/test/utils.test.ts
Due: build, docker

Sort scoring
  game/src/game/game.ts
Due: build, docker

Stuff
  game/src/game/game.ts
  game/src/utils.ts
  game/test/game.test.ts
  game/test/utils.test.ts
Due: build, docker

Fix safe zone
  game/src/game/units/unit.ts
Due: build, docker

Fix some maps
  game/maps/4P-10.bmp
  game/maps/4P-12.bmp
  game/maps/4P-13.bmp
Due: build, docker

Dockerhub push
  .gitlab-ci.yml
  trap.Dockerfile
Due: none

Fix
  .gitlab-ci.yml
Due: none

Small fixes for the Game UI
  ui/src/constants.ts
  ui/src/game/game.tsx
  ui/src/game/grid.tsx
  ui/src/game/tiles/TileTextureCache.tsx
  ui/src/game/tiles/coords.tsx
  ui/src/game/units/blitziumCount.tsx
  ui/src/index.html
  ui/src/infos/infos.tsx
  ui/src/replay.html
  ui/src/style.css
  ui/src/viewer.html
Due: build, docker

invert coords
  ui/src/game/tiles/coords.tsx
Due: build, docker

Display shortcuts in a popover
  ui/src/Shortcuts.tsx
  ui/src/app/replay.tsx
  ui/src/app/viewer.tsx
  ui/src/style.css
Due: build, docker

v2021.0.17
  ui/package.json
Due: build, docker

Publish dockerhub
  .gitlab-ci.yml
Due: none

Fix message
  game/src/game/units/unit.ts
Due: build, docker

Press T to see total scores
  ui/src/Shortcuts.tsx
  ui/src/app/viewer.tsx
  ui/src/constants.ts
  ui/src/infos/infos.tsx
  ui/src/infos/scores.tsx
  ui/src/replay/replayViewer.tsx
Due: build, docker

v2021.0.18
  ui/package.json
Due: build, docker

maybe fix size
  ui/src/game/background.tsx
  ui/src/game/bases.tsx
  ui/src/game/grid.tsx
  ui/src/game/staticElements.tsx
  ui/src/game/tiles/blitzium.tsx
  ui/src/game/tiles/tiles.tsx
  ui/src/game/units/cart.tsx
  ui/src/game/units/miner.tsx
  ui/src/game/units/outlaw.tsx
  ui/src/hooks/useCachedRef.ts
Due: build, docker

Remove bot
  bots/MinerOnly/index.js
  bots/MinerOnly/package.json
  bots/MinerOnly/yarn.lock
Due: none

Remove CI stuff from Gitlab
  .gitlab-ci.yml
  trap.Dockerfile
Due: none

Remove vscode stuff
  .vscode/launch.json
Due: none

Basic readmes
  Instructions.md
  Readme.md
  img/duel.gif
  img/gettingResources.gif
  img/movingResources.gif
  img/transferringResources.gif
Due: none

Basic readmes
  Instructions.md
  Readme.md
  ui/Readme.md
Due: build, docker
