Repository coveooss/blitz2021: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, docker, upload_starterkits

.gitlab-ci.yml:

stages:
  - build
  - dockerise
  - release

cache:
  paths:
    - node_modules/

build:
  image: node:14
  stage: build
  script:
    - yarn install
    - yarn build
    - yarn test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
      - game/dist
      - ui/dist
  only:
    changes:
      - game/**/*
      - ui/**/*
      - gitlab-ci.yml

docker:
  stage: dockerise
  image: docker
  services:
    - docker:dind
  before_script:
    - apk add --no-cache curl jq python3 py3-pip
    - pip install awscli
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - $(aws ecr get-login --no-include-email --region us-east-1)
  script:
    - docker build -t blitz2021/local -f local.Dockerfile .
    - docker tag blitz2021/local:latest $CI_REGISTRY/$CI_PROJECT_PATH/play:latest
    - docker tag blitz2021/local:latest $CI_REGISTRY/$CI_PROJECT_PATH/play:$CI_PIPELINE_ID
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/play:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/play:$CI_PIPELINE_ID
    - docker build -t blitz2021/server -f server.Dockerfile .
    - docker tag blitz2021/server 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:latest
    - docker tag blitz2021/server 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:$CI_PIPELINE_ID
    - docker push 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:latest
    - docker push 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:$CI_PIPELINE_ID
    - docker tag blitz2021/local 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:local
    - docker push 043612128888.dkr.ecr.us-east-1.amazonaws.com/blitz2021/blitz2021:local
  only:
    changes:
      - game/**/*
      - ui/**/*
      - gitlab-ci.yml
    refs:
      - master

upload_starterkits:
  image: python:latest
  stage: release
  before_script:
    - pip install awscli
  script:
    - python -m zipfile -c starterpacks.zip starterpacks/
    - aws s3 cp starterpacks.zip s3://blitz-2020/
    - aws s3api put-object-acl --bucket blitz-2021 --key starterpacks.zip --acl public-read
  only:
    changes:
      - starterkits/**/*
      - gitlab-ci.yml
    refs:
      - master

Fix ci
  .gitlab-ci.yml
Due: none

Fix ex and condition
  .gitlab-ci.yml
  starterkits/javascript/Bot.js
Due: upload_starterkits

Fix miner max
  game/src/game/units/miner.ts
Due: build, docker

Better interface for ts
  starterkits/typescript/GameInterface.ts
Due: upload_starterkits

Fix command
  starterkits/typescript/GameInterface.ts
Due: upload_starterkits

Fix starterkits
  .gitlab-ci.yml
Due: none

test ci?
  .gitlab-ci.yml
Due: none

Fix ?
  .gitlab-ci.yml
Due: none

fix ?
  .gitlab-ci.yml
Due: none

Fx
  .gitlab-ci.yml
Due: none

Fixes for java
  starterkits/java/src/main/java/codes/blitz/game/message/game/BuyAction.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/GameMap.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/TileType.java
Due: upload_starterkits

added type, fix property name
  starterkits/python/game_command.py
Due: upload_starterkits

* add .iml files to gitignore * fix action type property in java
  .gitignore
  starterkits/java/src/main/java/codes/blitz/game/message/game/Action.java
Due: upload_starterkits

Change look of bases, blitzium & cart
  ui/src/game/bases.tsx
  ui/src/game/tiles/blitzium.tsx
  ui/src/game/units/cart.tsx
Due: build, docker

* log errors in java
  starterkits/java/src/main/java/codes/blitz/game/WebsocketClient.java
Due: upload_starterkits

+ Fix python
  starterkits/python/game_message.py
Due: upload_starterkits

+ Fix python
  starterkits/python/game_command.py
Due: upload_starterkits

Fix mem leak
  game/src/game/units/outlaw.ts
  game/src/server/socketedColony.ts
Due: build, docker

Fixes
  game/src/game/colonies/colony.ts
  game/src/game/error.ts
  game/src/game/game.ts
  game/src/server/server.ts
  game/test/colony.test.ts
Due: build, docker

Add wall and miners
  ui/src/game/tiles/wall.tsx
  ui/src/game/units/miner.tsx
Due: build, docker

Fix pickup from target
  game/src/game/colonies/colony.ts
  game/src/game/units/unit.ts
  game/test/colony.test.ts
  game/test/unit.test.ts
Due: build, docker

Fix python shit
  game/src/server/server.ts
Due: build, docker

Fix both pytgob
  starterkits/python/application.py
  starterkits/python/bot_message.py
Due: upload_starterkits

Fix c#
  starterkits/csharp/game/Game.cs
Due: upload_starterkits

working drop
  game/src/game/units/unit.ts
  game/test/unit.test.ts
Due: build, docker

todo
  game/test/unit.test.ts
Due: build, docker

Fix type
  starterkits/python/game_message.py
Due: upload_starterkits

Better path finder
  game/src/game/units/unit.ts
Due: build, docker

Map support and new maps
  game/maps/2P-4M-01.bmp
  game/maps/4P-4M-01.bmp
  game/maps/SIMPLE_1P/SIMPLE_1P_META.json
  game/maps/test.bmp
  game/src/game/game.ts
  game/src/game/map.ts
  game/src/index.ts
  ui/src/game/tiles/tiles.tsx
Due: build, docker

Fix test
  game/test/unit.test.ts
Due: build, docker

Fix test
  game/test/miner.test.ts
Due: build, docker

Fix undefined map
  game/src/game/game.ts
  game/src/index.ts
Due: build, docker

Added maps to docker
  local.Dockerfile
  server.Dockerfile
Due: none

Jsdoc javascript starter
  starterkits/javascript/Bot.js
  starterkits/javascript/GameInterface.js
Due: upload_starterkits

Log upload
  game/src/logger.ts
  game/src/recorder/recorder.ts
  local.Dockerfile
  server.Dockerfile
Due: build, docker

game_logs
  game/src/logger.ts
  game/src/recorder/recorder.ts
Due: build, docker

Fix nbOfColonies
  server.Dockerfile
Due: none

Added depot c#
  starterkits/csharp/game/Game.cs
Due: upload_starterkits
