Repository coveooss/blitz2021: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, docker, upload_starterkits

build:
  image: node:14
  stage: build
  script:
  - yarn install
  - yarn build
  - yarn test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
    - game/dist
    - ui/dist

docker:
  stage: dockerise
  image: docker
  services:
  - docker:dind
  before_script:
  - apk add --no-cache curl jq python3 py3-pip
  - pip install awscli
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - $(aws ecr get-login --no-include-email --region us-east-1)
  script:
  ...

upload_starterkits:
  image: python:latest
  stage: release
  before_script:
  - pip install awscli
  script:
  - python -m zipfile -c starterpacks.zip starterpacks/
  - aws s3 cp starterpacks.zip s3://blitz-2020/
  - aws s3api put-object-acl --bucket blitz-2021 --key starterpacks.zip --acl public-read

added rules
  game/src/game/game.ts
  game/src/game/types.ts
  game/test/game.test.ts
Due: build, docker

Fix
  game/src/game/units/unit.ts
Due: build, docker

Fix is dead
  game/src/game/game.ts
Due: build, docker

Added the Rules to the starter kits.
  starterkits/csharp/game/GameMessage.cs
  starterkits/java/src/main/java/codes/blitz/game/message/game/GameMessage.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Rules.java
  starterkits/javascript/Bot.js
  starterkits/javascript/GameInterface.js
  starterkits/python/game_message.py
  starterkits/typescript/GameInterface.ts
Due: upload_starterkits

Fix
  game/test/recorder.test.ts
Due: build, docker

Replaced Depot with Mine in JS starterkit
  starterkits/javascript/GameInterface.js
Due: upload_starterkits

New --help
  game/src/index.ts
Due: build, docker

+ Fix python
  starterkits/python/game_command.py
Due: upload_starterkits

Cleanup java starterkit
  .gitignore
  starterkits/java/src/main/java/codes/blitz/game/Application.java
  starterkits/java/src/main/java/codes/blitz/game/Bot.java
  starterkits/java/src/main/java/codes/blitz/game/WebsocketClient.java
  starterkits/java/src/main/java/codes/blitz/game/message/MessageDecoder.java
  starterkits/java/src/main/java/codes/blitz/game/message/MessageEncoder.java
  starterkits/java/src/main/java/codes/blitz/game/message/MessageType.java
  starterkits/java/src/main/java/codes/blitz/game/message/bot/BotMessage.java
  starterkits/java/src/main/java/codes/blitz/game/message/exception/PositionOutOfMapException.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Action.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/ActionType.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/BuyAction.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Colony.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Depot.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/GameMap.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/GameMessage.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Position.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Prices.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Rules.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/TileType.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Unit.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/UnitAction.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/UnitActionType.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/UnitType.java
Due: upload_starterkits

Fix bracket for lord Emond
  starterkits/java/src/main/java/codes/blitz/game/Application.java
  starterkits/java/src/main/java/codes/blitz/game/Bot.java
  starterkits/java/src/main/java/codes/blitz/game/WebsocketClient.java
  starterkits/java/src/main/java/codes/blitz/game/message/MessageDecoder.java
  starterkits/java/src/main/java/codes/blitz/game/message/MessageEncoder.java
  starterkits/java/src/main/java/codes/blitz/game/message/MessageType.java
  starterkits/java/src/main/java/codes/blitz/game/message/bot/BotMessage.java
  starterkits/java/src/main/java/codes/blitz/game/message/exception/PositionOutOfMapException.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Action.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/ActionType.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/BuyAction.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Colony.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Depot.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/GameMap.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/GameMessage.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Position.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Prices.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Rules.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/TileType.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/Unit.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/UnitAction.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/UnitActionType.java
  starterkits/java/src/main/java/codes/blitz/game/message/game/UnitType.java
Due: upload_starterkits

Fix price member names
  starterkits/java/src/main/java/codes/blitz/game/message/game/Prices.java
Due: upload_starterkits

Fix namespace
  starterkits/csharp/Application.cs
  starterkits/csharp/Bot.cs
  starterkits/csharp/game/Colony.cs
  starterkits/csharp/game/Game.cs
  starterkits/csharp/game/GameCommand.cs
  starterkits/csharp/game/GameMessage.cs
Due: upload_starterkits

Fix names
  game/src/game/config.ts
  game/src/game/game.ts
  game/src/game/types.ts
  game/src/game/units/cart.ts
  game/test/game.test.ts
  game/test/recorder.test.ts
  starterkits/java/src/main/java/codes/blitz/game/message/game/Rules.java
  starterkits/javascript/GameInterface.js
  starterkits/python/game_message.py
  starterkits/typescript/GameInterface.ts
Due: build, docker, upload_starterkits

Fix prices
  game/src/game/colonies/colony.ts
Due: build, docker

v2021.0.9
  ui/package.json
Due: build, docker

Fix
  game/src/game/units/unit.ts
  starterkits/javascript/GameInterface.js
Due: build, docker, upload_starterkits

Fix unit droping 0 blitizum
  game/src/game/units/unit.ts
Due: build, docker

Remove comment
  starterkits/python/bot.py
Due: upload_starterkits

Fix cart cant' mine
  game/src/game/units/cart.ts
Due: build, docker

Performance update
  ui/src/game/background.tsx
  ui/src/game/baseSafeZone.tsx
  ui/src/game/bases.tsx
  ui/src/game/tiles/wall.tsx
Due: build, docker

v2021.0.10
  ui/package.json
Due: build, docker

Fix replay depot
  game/src/game/map.ts
Due: build, docker

New survial
  game/src/game/config.ts
Due: build, docker

New tests
  game/src/game/colonies/colony.ts
  game/src/game/config.ts
  game/src/game/game.ts
  game/src/game/map.ts
  game/src/game/units/outlaw.ts
  game/src/game/units/unit.ts
  game/test/colony.test.ts
  game/test/unit.test.ts
Due: build, docker

Python snake case Fix version for lib to work with Python 3.9 Change comment in all starterkits
  starterkits/csharp/Bot.cs
  starterkits/java/src/main/java/codes/blitz/game/Bot.java
  starterkits/javascript/Bot.js
  starterkits/python/application.py
  starterkits/python/bot.py
  starterkits/python/game_command.py
  starterkits/python/game_message.py
  starterkits/python/requirements.txt
  starterkits/typescript/Bot.ts
Due: upload_starterkits

Fix prices POJO
  starterkits/java/src/main/java/codes/blitz/game/message/game/Prices.java
Due: upload_starterkits

Delay, outlaws and shit
  game/src/game/colonies/colony.ts
  game/src/game/config.ts
  game/src/game/game.ts
  game/src/game/units/unit.ts
  game/src/index.ts
  game/test/unit.test.ts
  local.Dockerfile
  server.Dockerfile
Due: build, docker

fix
  local.Dockerfile
  server.Dockerfile
Due: none

Small viewer improcement
  game/src/server/server.ts
  game/src/server/socketedColony.ts
  ui/src/app/viewer.tsx
Due: build, docker

Lots of performance upgrade
  ui/src/game/grid.tsx
  ui/src/game/staticElements.tsx
  ui/src/game/tiles/Walls.png
  ui/src/game/tiles/tiles.tsx
  ui/src/game/tiles/wall.tsx
  ui/src/hooks/useImage.ts
  ui/src/infos/infos.tsx
  ui/src/replay/replayViewer.tsx
  ui/src/style.css
Due: build, docker

v2021.0.11
  ui/package.json
  ui/types/global/index.d.ts
Due: build, docker

Fix compilation
  ui/src/game/staticElements.tsx
  ui/src/hooks/useImage.ts
  ui/tsconfig.json
Due: build, docker

Bump patch
  ui/package.json
  yarn.lock
Due: build, docker

Revert snake case because I can't make it work with dataclass-json and gring back param in js
  starterkits/javascript/Bot.js
  starterkits/python/game_command.py
  starterkits/python/game_message.py
Due: upload_starterkits

Forgot a snake
  starterkits/python/bot.py
Due: upload_starterkits

Forgot a snake
  starterkits/python/application.py
Due: upload_starterkits

Use a cache to load walls images
  ui/src/app/viewer.tsx
  ui/src/game/tiles/TileTextureCache.tsx
  ui/src/game/tiles/wall.tsx
  ui/src/hooks/useCachedTexture.ts
  ui/src/hooks/useImage.ts
  ui/src/replay/replayViewer.tsx
Due: build, docker

v2021.0.13
  ui/package.json
Due: build, docker

Fix typo
  ui/src/app/viewer.tsx
Due: build, docker

Path conditions:
  build: any of: game/**/*, ui/**/*, gitlab-ci.yml
  docker: any of: game/**/*, ui/**/*, gitlab-ci.yml
  upload_starterkits: any of: starterkits/**/*, gitlab-ci.yml
